body {
  background-color: #141414;
  color: #d789d7;
}

h1,
p {
  text-align: center;
}

i {
  font-size: 0.7rem;
  vertical-align: middle;
}

* {
  margin: 0;
  padding: 0;
}

#formsection {
  margin: auto;
  padding: 0%;
  width: 60%;
  height: 100%;
  background-color: #25213d;
  box-shadow: inset 0px 0px 4px 4px #2a3d66;
}

.formSection {
  margin: auto;
  height: auto;
  width: 80%;
  padding: 3%;
}

.form {
  padding: 3%;
  margin: 2% 0%;
}

#survey-form {
  width: 100%;
}

form button {
  width: 100.13%;
  background-color: #2a3d66;
  margin: 0;
  border: none;
  padding: 2%;
  box-shadow: inset 0px 0px 18px 6px #5d54a4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

form button:hover {
  background-color: #5d54a4;
  box-shadow: inset 0px 0px 18px 6px #2a3d66;
}

.bottom input {
  width: 100%;
  height: 1.5rem;
  border: solid 3px #5d54a4;
  background-color: #2a3d66;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #d789d7;
  margin: 1% 0% 3% 0%;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.bar #text-area {
  min-width: 100%;
  max-width: 100%;
}

.bottom #dropdown {
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  #formsection {
    margin: auto;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-color: #25213d;
    box-shadow: inset 0px 0px 4px 4px #2a3d66;
  }

  .formSection {
    padding: 3%;
  }

  .form {
    padding: 3%;
    margin: 2% 0%;
  }

  #survey-form {
    width: 100%;
  }

  form button {
    width: 100.4%;
    background-color: #2a3d66;
    margin: 0;
    border: none;
    padding: 5%;
    box-shadow: inset 0px 0px 18px 6px #5d54a4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  form button:hover {
    background-color: #5d54a4;
    box-shadow: inset 0px 0px 18px 6px #2a3d66;
  }

  .bottom input {
    width: 100%;
    height: 1.5rem;
    border: solid 3px #5d54a4;
    background-color: #2a3d66;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #d789d7;
    margin: 1% 0% 3% 0%;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .bar #text-area {
    min-width: 100%;
    max-width: 100%;
  }

  .bottom #dropdown {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 425px) {
  .form {
    margin: 2%;
  }
}